workflow.json
{
  "updatedAt": "2026-03-27T05:08:26.779Z",
  "createdAt": "2026-03-10T00:33:16.655Z",
  "id": "YOUR_WF2_WORKFLOW_ID",
  "name": "SMS Inbound Webhook",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "content": "## Inbound Webhook (All TextBee Events)\n\nTriggered by TextBee on every SMS event.\n\n**What it does:**\n- Verifies HMAC-SHA256 signature on every request\n- Routes on event type:\n  - **MESSAGE_DELIVERED / MESSAGE_SENT** \u2192 overwrites PENDING with confirmed timestamp\n  - **MESSAGE_FAILED** \u2192 clears PENDING so lead is re-eligible; logs error to Notes\n  - **MESSAGE_RECEIVED** \u2192 updates reply columns (M\u2013P + S), logs to Conversations tab\n\n**Why it exists:**\nEvent-driven state management \u2014 the sheet reflects confirmed delivery, not just send attempts.",
        "height": 340,
        "width": 460,
        "color": 3
      },
      "id": "16706c20-9e3a-4cca-a135-70ca7424fb70",
      "name": "Workflow Description",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -224,
        48
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "textbee-inbound",
        "options": {
          "rawBody": true
        }
      },
      "id": "030804e4-660f-4f0f-8e99-1fb1fcf6adec",
      "name": "TextBee Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        288,
        256
      ],
      "webhookId": "60b5ff33-2afa-4f01-8d81-ee54ffc267e1"
    },
    {
      "parameters": {
        "jsCode": "// n8n task runner sandbox: crypto global not available, require('crypto') not available.\n// Signature verification gated on signatureEnforced=true (currently disabled).\n// To re-enable: set signatureEnforced = true \u2014 but note crypto.subtle must be available.\nconst secret = 'YOUR_TEXTBEE_WEBHOOK_SECRET';\n\nconst body = $input.first().json.body;\nconst received = (\n  ($input.first().json.headers && ($input.first().json.headers['x-signature'] || $input.first().json.headers['X-Signature'])) || ''\n).toLowerCase();\n\nconst signatureEnforced = false;\nif (!received) {\n  if (signatureEnforced) throw new Error('Missing TextBee signature \u2014 request rejected');\n  console.warn('WARNING: No TextBee signature \u2014 proceeding without verification (testing mode)');\n} else if (signatureEnforced) {\n  const encoder = new TextEncoder();\n  const key = await crypto.subtle.importKey(\n    'raw', encoder.encode(secret), { name: 'HMAC', hash: 'SHA-256' }, false, ['sign']\n  );\n  // TextBee signs JSON.stringify(payload) where payload = parsed request body\n  const sigBuffer = await crypto.subtle.sign('HMAC', key, encoder.encode(JSON.stringify(body)));\n  const expected = Array.from(new Uint8Array(sigBuffer))\n    .map(b => b.toString(16).padStart(2, '0')).join('');\n  if (expected !== received) {\n    throw new Error('Invalid TextBee signature \u2014 request rejected');\n  }\n}\n\n// Normalize MESSAGE_SENT \u2192 MESSAGE_DELIVERED\nlet webhookEvent = body.webhookEvent || '';\nif (webhookEvent === 'MESSAGE_SENT') webhookEvent = 'MESSAGE_DELIVERED';\n\nreturn [{ json: {\n  webhookEvent,\n  recipient:     body.recipient || '',\n  message:       body.message || '',\n  deliveredAt:   body.deliveredAt || body.sentAt || '',\n  failedAt:      body.failedAt || '',\n  errorMessage:  body.errorMessage || '',\n  errorCode:     body.errorCode || '',\n  sender_phone:  body.sender || body.from || body.phoneNumber || body.senderNumber ||\n                 (body.data && (body.data.sender || body.data.phoneNumber)) || '',\n  message_text:  body.message || body.body || body.text ||\n                 (body.data && (body.data.message || body.data.text)) || '',\n  raw_timestamp: body.receivedAt || body.createdAt || body.timestamp ||\n                 (body.data && (body.data.receivedAt || body.data.createdAt)) || '',\n}}];"
      },
      "id": "7e4b8781-d4a4-4090-a932-61ea5d95d101",
      "name": "Verify & Parse",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        512,
        256
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "leftValue": "={{ $json.webhookEvent }}",
                    "rightValue": "MESSAGE_DELIVERED",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "leftValue": "={{ $json.webhookEvent }}",
                    "rightValue": "MESSAGE_FAILED",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "leftValue": "={{ $json.webhookEvent }}",
                    "rightValue": "MESSAGE_RECEIVED",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              }
            }
          ]
        },
        "options": {}
      },
      "id": "1b6a3a9a-c1ea-4d9c-89ad-9af98d6f47ac",
      "name": "Route on Event",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        736,
        240
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "leftValue": "={{ $json._is_manual_reply }}",
                    "rightValue": true,
                    "operator": {
                      "type": "boolean",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "Manual Reply"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "leftValue": "={{ $json._is_manual_reply }}",
                    "rightValue": false,
                    "operator": {
                      "type": "boolean",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "WF1 Send"
            }
          ]
        },
        "options": {}
      },
      "id": "ff3d02e4-60ba-4071-9502-efcedde8c72d",
      "name": "Route Reply Type",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        1536,
        64
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "YOUR_SPREADSHEET_ID",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Leads",
          "mode": "name",
          "cachedResultName": "Leads"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Mobile": "={{ $json.Mobile }}",
            "Brandon_Replies": "={{ $json.Brandon_Replies }}"
          },
          "matchingColumns": [
            "Mobile"
          ],
          "schema": [
            {
              "id": "Mobile",
              "displayName": "Mobile",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Brandon_Replies",
              "displayName": "Brandon_Replies",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            }
          ]
        },
        "options": {}
      },
      "id": "6f0b6766-0f19-4ddc-a8bd-7dc3664fcb75",
      "name": "Update Brandon Reply Count",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        1760,
        64
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_GOOGLE_SHEETS_CREDENTIAL_ID",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "YOUR_SPREADSHEET_ID",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Conversations",
          "mode": "name",
          "cachedResultName": "Conversations"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Phone": "={{ $json.phone_for_conv }}",
            "Direction": "outbound",
            "Timestamp": "={{ $json.timestamp }}",
            "Message": "={{ $json.message_text }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Phone",
              "displayName": "Phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Direction",
              "displayName": "Direction",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Message",
              "displayName": "Message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ]
        },
        "options": {}
      },
      "id": "da230bae-5209-4140-9f72-13267bad1036",
      "name": "Log Manual Reply",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        1984,
        64
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_GOOGLE_SHEETS_CREDENTIAL_ID",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "YOUR_SPREADSHEET_ID",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Leads",
          "mode": "name",
          "cachedResultName": "Leads"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "matchingColumns": [
            "Mobile"
          ],
          "schema": []
        },
        "options": {}
      },
      "id": "d44678e9-7088-49fb-adfb-96d8aaee8a07",
      "name": "Update Delivered Timestamp",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        1760,
        256
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_GOOGLE_SHEETS_CREDENTIAL_ID",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "YOUR_SPREADSHEET_ID",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Leads",
          "mode": "name",
          "cachedResultName": "Leads"
        },
        "combineFilters": "AND",
        "options": {}
      },
      "id": "a24ab6c9-5153-4f61-9410-275d30833983",
      "name": "Read Leads (Failure)",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "maxTries": 5,
      "waitBetweenTries": 3000,
      "position": [
        1024,
        256
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_GOOGLE_SHEETS_CREDENTIAL_ID",
          "name": "Google Sheets account"
        }
      },
      "onError": "retryOnFail"
    },
    {
      "parameters": {
        "jsCode": "const NZT_OFFSET = 13;\n\nfunction normalizeForMatch(phone) {\n  if (!phone) return '';\n  return phone.replace(/[\\s\\-\\(\\)]/g, '')\n              .replace(/^\\+64/, '0')\n              .replace(/^64/, '0');\n}\n\nfunction getModeFromMessage(msg) {\n  if (msg.includes('Last one from me'))                               return 'F2 Sent';\n  if (msg.includes('following up'))                                   return 'F1 Sent';\n  if (msg.includes('Worth a chat?') || msg.includes('Building something')) return 'Initial Sent';\n  return null;\n}\n\nconst parsed = $('Verify & Parse').item.json;\nconst recipientNorm = normalizeForMatch(parsed.recipient);\nconst tsCol = getModeFromMessage(parsed.message);\nif (!tsCol) return [];\n\nconst rows = $input.all();\nlet matchRow = null;\nfor (const item of rows) {\n  if (normalizeForMatch(item.json['Mobile'] || '') === recipientNorm) {\n    matchRow = item.json;\n    break;\n  }\n}\nif (!matchRow) return [];\n\nconst errorNote = 'FAILED: ' + (parsed.errorMessage || parsed.errorCode || 'unknown error');\nconst existingNotes = (matchRow['Notes'] || '').trim();\nconst notes = existingNotes ? existingNotes + '; ' + errorNote : errorNote;\n\nconst output = { Mobile: matchRow['Mobile'] };\noutput[tsCol] = '';  // clear PENDING \u2014 lead becomes eligible again\noutput['Notes'] = notes;\nreturn [{ json: output }];"
      },
      "id": "28ac6820-9837-45ae-beda-3d6327fcc8b2",
      "name": "Match & Clear Failure",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1312,
        256
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "YOUR_SPREADSHEET_ID",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Leads",
          "mode": "name",
          "cachedResultName": "Leads"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "matchingColumns": [
            "Mobile"
          ],
          "schema": []
        },
        "options": {}
      },
      "id": "ca1dd807-2931-433f-888b-0369400bc997",
      "name": "Update Failure Record",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        1536,
        256
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_GOOGLE_SHEETS_CREDENTIAL_ID",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "=You are classifying SMS replies from NZ real estate agents responding to a cold outreach about AI automation services.\n\nClassify the reply into exactly one of these statuses:\n- \"Interested\" \u2014 Open to a chat, wants to book a call/meeting, affirmative, asking to set up a time\n- \"Not Interested\" \u2014 Clear rejection: no thanks, not for me, not interested, all good, etc.\n- \"Opted Out\" \u2014 Explicit stop request (stop, unsubscribe, remove me) OR they have retired from real estate OR they have permanently left the industry\n- \"Question\" \u2014 Asking for more info about the service, who Brandon is, which company, pricing, demo, etc.\n- \"Call Back Later\" \u2014 Timing deflection: busy today, in a meeting, try me next week, contact me later \u2014 not a hard no\n- \"Wrong Role\" \u2014 In the industry but not a sales agent (property manager, mortgage broker, admin, different department)\n- \"Other\" \u2014 Genuinely ambiguous or unclear intent\n\nRespond with ONLY valid JSON: {\"status\": \"Interested\"}"
            },
            {
              "content": "={{ $('Verify & Parse').item.json.message_text }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {
          "maxTokens": 20,
          "temperature": 0
        }
      },
      "id": "9ed8e0cd-8b2a-47e1-b4c8-7ae04e31280e",
      "name": "Message a model",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        960,
        448
      ],
      "credentials": {
        "openAiApi": {
          "id": "YOUR_OPENAI_CREDENTIAL_ID",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const json = $input.item.json;\n\n// n8n OpenAI langchain node v2.1 returns:\n//   json.output = [{ content: [{ type: \"output_text\", text: \"...\" }] }]\nlet raw = '';\nif (Array.isArray(json.output) && json.output[0]) {\n  const content = json.output[0].content;\n  if (Array.isArray(content)) {\n    const chunk = content.find(c => c.text) || content[0];\n    if (chunk) raw = chunk.text || '';\n  } else if (typeof json.output[0] === 'string') {\n    raw = json.output[0];\n  }\n}\n// Fallbacks for other node versions\nif (!raw) {\n  const candidate = json.text || json.response || json.content ||\n    (json.message && (json.message.content || json.message.text)) ||\n    (json.choices && json.choices[0] && json.choices[0].message && json.choices[0].message.content) || '';\n  raw = typeof candidate === 'string' ? candidate : JSON.stringify(candidate);\n}\nraw = raw.trim();\n\nconst VALID = ['Interested', 'Not Interested', 'Opted Out', 'Question', 'Call Back Later', 'Wrong Role', 'Other'];\nlet status = 'Other';\n\ntry {\n  const parsed = JSON.parse(raw);\n  const candidate = parsed.status || '';\n  if (VALID.includes(candidate)) status = candidate;\n} catch(e) {\n  // Try regex match first\n  const match = raw.match(/\"status\"\\s*:\\s*\"([^\"]+)\"/);\n  if (match && VALID.includes(match[1])) {\n    status = match[1];\n  } else {\n    // Keyword fallback: scan raw text for any known status\n    for (const s of VALID) {\n      if (raw.includes(s)) { status = s; break; }\n    }\n  }\n}\nreturn [{ json: { classified_status: status } }];"
      },
      "id": "6af4457a-18a7-46b2-9c8e-0d8c7424905d",
      "name": "Parse Classification",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1312,
        448
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "YOUR_SPREADSHEET_ID",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Leads",
          "mode": "name",
          "cachedResultName": "Leads"
        },
        "combineFilters": "AND",
        "options": {}
      },
      "id": "1af6afce-5d7b-459a-98c4-4096272c2206",
      "name": "Read Leads (Inbound)",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "maxTries": 5,
      "waitBetweenTries": 3000,
      "position": [
        1536,
        448
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_GOOGLE_SHEETS_CREDENTIAL_ID",
          "name": "Google Sheets account"
        }
      },
      "onError": "retryOnFail"
    },
    {
      "parameters": {
        "jsCode": "const NZT_OFFSET = 13;\n\nfunction normalizeForMatch(phone) {\n  if (!phone) return '';\n  return phone.replace(/[\\s\\-\\(\\)]/g, '')\n              .replace(/^\\+64/, '0')\n              .replace(/^64/, '0');\n}\n\nfunction toNZTStr(rawTime) {\n  if (!rawTime) return '';\n  try {\n    const dt = new Date(rawTime);\n    if (isNaN(dt)) return rawTime;\n    const nzt = new Date(dt.getTime() + NZT_OFFSET * 3600000);\n    return nzt.toISOString().slice(0, 16).replace('T', ' ');\n  } catch(e) { return rawTime; }\n}\n\nconst parsed = $('Verify & Parse').item.json;\nconst senderNorm = normalizeForMatch(parsed.sender_phone);\nconst messageText = parsed.message_text;\nconst receivedStr = toNZTStr(parsed.raw_timestamp);\n\nconst rows = $input.all();\nlet matchRow = null;\nfor (const item of rows) {\n  if (normalizeForMatch(item.json['Mobile'] || '') === senderNorm) {\n    matchRow = item.json;\n    break;\n  }\n}\nif (!matchRow) return [];\n\nlet replyAfter = 'Unknown';\nif ((matchRow['F2 Sent'] || '').trim() && matchRow['F2 Sent'] !== 'PENDING') replyAfter = 'F2';\nelse if ((matchRow['F1 Sent'] || '').trim() && matchRow['F1 Sent'] !== 'PENDING') replyAfter = 'F1';\nelse if ((matchRow['Initial Sent'] || '').trim()) replyAfter = 'Initial';\n\nconst currentLeadReplies = parseInt(matchRow['Lead_Replies'] || '0', 10) || 0;\n\nreturn [{\n  json: {\n    Mobile:           matchRow['Mobile'],\n    Replied:          true,\n    'Reply After':    replyAfter,\n    'Reply Received': receivedStr,\n    'Reply Text':     messageText,\n    Status:           $('Parse Classification').item.json.classified_status || 'Other',\n    Lead_Replies:     String(currentLeadReplies + 1),\n    phone_for_conv:   matchRow['Mobile'],\n    message_text:     messageText,\n    timestamp:        receivedStr,\n    Name:             matchRow['Name'] || '',\n    Agency:           matchRow['Agency'] || '',\n    City:             matchRow['City'] || '',\n  }\n}];"
      },
      "id": "9a4711db-313b-4697-9832-a9990a8c5f58",
      "name": "Match & Prepare Inbound",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1760,
        448
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "YOUR_SPREADSHEET_ID",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Leads",
          "mode": "name",
          "cachedResultName": "Leads"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "matchingColumns": [
            "Mobile"
          ],
          "schema": []
        },
        "options": {}
      },
      "id": "92b941f6-2d80-41f1-9e86-e6b2ce1aee49",
      "name": "Update Reply Columns",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        1984,
        448
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_GOOGLE_SHEETS_CREDENTIAL_ID",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "YOUR_SPREADSHEET_ID",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Conversations",
          "mode": "name",
          "cachedResultName": "Conversations"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Phone": "={{ $json.phone_for_conv }}",
            "Direction": "inbound",
            "Timestamp": "={{ $json.timestamp }}",
            "Message": "={{ $json.message_text }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Phone",
              "displayName": "Phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Direction",
              "displayName": "Direction",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Message",
              "displayName": "Message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ]
        },
        "options": {}
      },
      "id": "d517a36e-e455-4243-ac77-9805910454cd",
      "name": "Log to Conversations",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        2208,
        448
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_GOOGLE_SHEETS_CREDENTIAL_ID",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Match & Prepare Inbound').item.json.Status }}",
                    "rightValue": "Interested",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Interested"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Match & Prepare Inbound').item.json.Status }}",
                    "rightValue": "Question",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Question"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Match & Prepare Inbound').item.json.Status }}",
                    "rightValue": "Call Back Later",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Call Back Later"
            }
          ]
        },
        "options": {}
      },
      "id": "0dbfd181-85cc-476e-bb82-1fd6a0e7a843",
      "name": "Email Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        2432,
        432
      ]
    },
    {
      "parameters": {
        "sendTo": "your@email.com",
        "subject": "=\ud83d\udd25 HOT LEAD: {{ $('Match & Prepare Inbound').item.json['Name'] }} from {{ $('Match & Prepare Inbound').item.json['Agency'] }} replied interested!",
        "message": "=<div style=\"font-family:sans-serif;max-width:600px;margin:0 auto;border:2px solid #dc2626;border-radius:8px;overflow:hidden\">\n  <div style=\"background:#dc2626;padding:20px 24px\">\n    <h1 style=\"color:#fff;margin:0;font-size:22px\">\ud83d\udd25 HOT LEAD REPLY</h1>\n    <p style=\"color:#fca5a5;margin:6px 0 0;font-size:14px\">A lead replied interested \u2014 CALL THEM NOW</p>\n  </div>\n  <div style=\"padding:24px\">\n    <table style=\"width:100%;border-collapse:collapse;margin-bottom:20px\">\n      <tr><td style=\"padding:6px 12px 6px 0;color:#6b7280;font-size:13px;width:80px\">Name</td><td style=\"padding:6px 0;font-weight:600\">{{ $('Match & Prepare Inbound').item.json['Name'] }}</td></tr>\n      <tr style=\"background:#f9fafb\"><td style=\"padding:6px 12px 6px 0;color:#6b7280;font-size:13px\">Agency</td><td style=\"padding:6px 0;font-weight:600\">{{ $('Match & Prepare Inbound').item.json['Agency'] }}</td></tr>\n      <tr><td style=\"padding:6px 12px 6px 0;color:#6b7280;font-size:13px\">City</td><td style=\"padding:6px 0;font-weight:600\">{{ $('Match & Prepare Inbound').item.json['City'] }}</td></tr>\n      <tr style=\"background:#f9fafb\"><td style=\"padding:6px 12px 6px 0;color:#6b7280;font-size:13px\">Mobile</td><td style=\"padding:6px 0;font-weight:600\">{{ $('Match & Prepare Inbound').item.json['Mobile'] }}</td></tr>\n    </table>\n    <div style=\"background:#fef2f2;border-left:4px solid #dc2626;padding:12px 16px;margin-bottom:20px;border-radius:0 4px 4px 0\">\n      <p style=\"margin:0 0 4px;font-size:12px;color:#6b7280;text-transform:uppercase;letter-spacing:.5px\">Their reply</p>\n      <p style=\"margin:0;font-size:15px;color:#111\">{{ $('Match & Prepare Inbound').item.json['message_text'] }}</p>\n    </div>\n    <div style=\"background:#f0fdf4;border:1px solid #bbf7d0;padding:12px 16px;border-radius:4px\">\n      <p style=\"margin:0 0 6px;font-size:12px;color:#6b7280;text-transform:uppercase;letter-spacing:.5px\">Suggested follow-up text</p>\n      <p style=\"margin:0;font-size:14px;color:#166534\">Hey [name], great to hear! I'd love to show you how it works \u2014 are you free for a 15-min call this week? - Brandon</p>\n    </div>\n  </div>\n</div>",
        "options": {}
      },
      "id": "8c26f6c8-c1c0-416f-afbd-aadd5d4734de",
      "name": "Email \u2014 Interested",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        2656,
        256
      ],
      "webhookId": "4c8fdf94-5903-4a66-b066-50e1a51ccf33",
      "credentials": {
        "gmailOAuth2": {
          "id": "YOUR_GMAIL_CREDENTIAL_ID",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "your@email.com",
        "subject": "=\u2753 {{ $('Match & Prepare Inbound').item.json['Name'] }} from {{ $('Match & Prepare Inbound').item.json['Agency'] }} has a question",
        "message": "=<div style=\"font-family:sans-serif;max-width:600px;margin:0 auto;border:2px solid #2563eb;border-radius:8px;overflow:hidden\">\n  <div style=\"background:#2563eb;padding:20px 24px\">\n    <h1 style=\"color:#fff;margin:0;font-size:22px\">\u2753 LEAD HAS A QUESTION</h1>\n    <p style=\"color:#bfdbfe;margin:6px 0 0;font-size:14px\">Reply ASAP while the conversation is warm</p>\n  </div>\n  <div style=\"padding:24px\">\n    <table style=\"width:100%;border-collapse:collapse;margin-bottom:20px\">\n      <tr><td style=\"padding:6px 12px 6px 0;color:#6b7280;font-size:13px;width:80px\">Name</td><td style=\"padding:6px 0;font-weight:600\">{{ $('Match & Prepare Inbound').item.json['Name'] }}</td></tr>\n      <tr style=\"background:#f9fafb\"><td style=\"padding:6px 12px 6px 0;color:#6b7280;font-size:13px\">Agency</td><td style=\"padding:6px 0;font-weight:600\">{{ $('Match & Prepare Inbound').item.json['Agency'] }}</td></tr>\n      <tr><td style=\"padding:6px 12px 6px 0;color:#6b7280;font-size:13px\">City</td><td style=\"padding:6px 0;font-weight:600\">{{ $('Match & Prepare Inbound').item.json['City'] }}</td></tr>\n      <tr style=\"background:#f9fafb\"><td style=\"padding:6px 12px 6px 0;color:#6b7280;font-size:13px\">Mobile</td><td style=\"padding:6px 0;font-weight:600\">{{ $('Match & Prepare Inbound').item.json['Mobile'] }}</td></tr>\n    </table>\n    <div style=\"background:#eff6ff;border-left:4px solid #2563eb;padding:12px 16px;border-radius:0 4px 4px 0\">\n      <p style=\"margin:0 0 4px;font-size:12px;color:#6b7280;text-transform:uppercase;letter-spacing:.5px\">Their question</p>\n      <p style=\"margin:0;font-size:15px;color:#111\">{{ $('Match & Prepare Inbound').item.json['message_text'] }}</p>\n    </div>\n  </div>\n</div>",
        "options": {}
      },
      "id": "1976e0b0-ee93-47a9-8c0c-055050fe9d38",
      "name": "Email \u2014 Question",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        2656,
        448
      ],
      "webhookId": "78ad1f75-295f-4464-bb92-113b1012eacd",
      "credentials": {
        "gmailOAuth2": {
          "id": "YOUR_GMAIL_CREDENTIAL_ID",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "your@email.com",
        "subject": "=\u23f0 {{ $('Match & Prepare Inbound').item.json['Name'] }} from {{ $('Match & Prepare Inbound').item.json['Agency'] }} asked to call back",
        "message": "=<div style=\"font-family:sans-serif;max-width:600px;margin:0 auto;border:2px solid #d97706;border-radius:8px;overflow:hidden\">\n  <div style=\"background:#d97706;padding:20px 24px\">\n    <h1 style=\"color:#fff;margin:0;font-size:22px\">\u23f0 ASKED TO CALL BACK</h1>\n    <p style=\"color:#fde68a;margin:6px 0 0;font-size:14px\">Not a no \u2014 follow up soon</p>\n  </div>\n  <div style=\"padding:24px\">\n    <table style=\"width:100%;border-collapse:collapse;margin-bottom:20px\">\n      <tr><td style=\"padding:6px 12px 6px 0;color:#6b7280;font-size:13px;width:80px\">Name</td><td style=\"padding:6px 0;font-weight:600\">{{ $('Match & Prepare Inbound').item.json['Name'] }}</td></tr>\n      <tr style=\"background:#f9fafb\"><td style=\"padding:6px 12px 6px 0;color:#6b7280;font-size:13px\">Agency</td><td style=\"padding:6px 0;font-weight:600\">{{ $('Match & Prepare Inbound').item.json['Agency'] }}</td></tr>\n      <tr><td style=\"padding:6px 12px 6px 0;color:#6b7280;font-size:13px\">City</td><td style=\"padding:6px 0;font-weight:600\">{{ $('Match & Prepare Inbound').item.json['City'] }}</td></tr>\n      <tr style=\"background:#f9fafb\"><td style=\"padding:6px 12px 6px 0;color:#6b7280;font-size:13px\">Mobile</td><td style=\"padding:6px 0;font-weight:600\">{{ $('Match & Prepare Inbound').item.json['Mobile'] }}</td></tr>\n    </table>\n    <div style=\"background:#fffbeb;border-left:4px solid #d97706;padding:12px 16px;border-radius:0 4px 4px 0\">\n      <p style=\"margin:0 0 4px;font-size:12px;color:#6b7280;text-transform:uppercase;letter-spacing:.5px\">Their message</p>\n      <p style=\"margin:0;font-size:15px;color:#111\">{{ $('Match & Prepare Inbound').item.json['message_text'] }}</p>\n    </div>\n  </div>\n</div>",
        "options": {}
      },
      "id": "4d28d221-d58d-48c3-ad41-559d1d9be324",
      "name": "Email \u2014 Call Back Later",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        2656,
        640
      ],
      "webhookId": "3244f128-ca97-4e7f-908c-3073e3eda7fc",
      "credentials": {
        "gmailOAuth2": {
          "id": "YOUR_GMAIL_CREDENTIAL_ID",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const NZT_OFFSET = 13; // NZDT (UTC+13)\n\nfunction normalizePhone(phone) {\n  if (!phone) return '';\n  return phone.replace(/[\\s\\-\\(\\)]/g, '')\n              .replace(/^\\+64/, '0')\n              .replace(/^64/, '0');\n}\n\nfunction toNZTStr(rawTime) {\n  const base = rawTime ? new Date(rawTime) : new Date();\n  const dt = (!rawTime || isNaN(base)) ? new Date() : base;\n  const nzt = new Date(dt.getTime() + NZT_OFFSET * 3600000);\n  return nzt.toISOString().slice(0, 16).replace('T', ' ');\n}\n\nconst parsed = $('Verify & Parse').item.json;\nconst mobile = normalizePhone(parsed.recipient);\nconst msg = (parsed.message || '').trim();\n\n// Determine stage column from message keywords (no sheet read needed)\nlet tsCol;\nif (msg.includes('Last one from me')) {\n  tsCol = 'F2 Sent';\n} else if (msg.includes('following up')) {\n  tsCol = 'F1 Sent';\n} else if (msg.includes('Worth a chat?') || msg.includes('Building something')) {\n  tsCol = 'Initial Sent';\n} else {\n  // No keyword match \u2014 Brandon manual reply or unknown message; terminate cleanly\n  return [];\n}\n\nconst ts = toNZTStr(parsed.deliveredAt);\nconst output = { Mobile: mobile, _is_manual_reply: false };\noutput[tsCol] = ts;\nreturn [{ json: output }];"
      },
      "id": "a7f3d812-1b2e-4c8f-9e3a-5d6f7a8b9c0d",
      "name": "Resolve Stage",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1024,
        64
      ]
    }
  ],
  "connections": {
    "TextBee Webhook": {
      "main": [
        [
          {
            "node": "Verify & Parse",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verify & Parse": {
      "main": [
        [
          {
            "node": "Route on Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route on Event": {
      "main": [
        [
          {
            "node": "Resolve Stage",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Read Leads (Failure)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route Reply Type": {
      "main": [
        [
          {
            "node": "Update Brandon Reply Count",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update Delivered Timestamp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Brandon Reply Count": {
      "main": [
        [
          {
            "node": "Log Manual Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Leads (Failure)": {
      "main": [
        [
          {
            "node": "Match & Clear Failure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Match & Clear Failure": {
      "main": [
        [
          {
            "node": "Update Failure Record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Parse Classification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Classification": {
      "main": [
        [
          {
            "node": "Read Leads (Inbound)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Leads (Inbound)": {
      "main": [
        [
          {
            "node": "Match & Prepare Inbound",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Match & Prepare Inbound": {
      "main": [
        [
          {
            "node": "Update Reply Columns",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Reply Columns": {
      "main": [
        [
          {
            "node": "Log to Conversations",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log to Conversations": {
      "main": [
        [
          {
            "node": "Email Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email Switch": {
      "main": [
        [
          {
            "node": "Email \u2014 Interested",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Email \u2014 Question",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Email \u2014 Call Back Later",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resolve Stage": {
      "main": [
        [
          {
            "node": "Route Reply Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "YOUR_WF2_VERSION_ID",
  "activeVersionId": "YOUR_WF2_VERSION_ID",
  "versionCounter": 244,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-03-10T00:33:16.657Z",
      "createdAt": "2026-03-10T00:33:16.657Z",
      "role": "workflow:owner",
      "workflowId": "YOUR_WF2_WORKFLOW_ID",
      "projectId": "YOUR_N8N_PROJECT_ID",
      "project": {
        "updatedAt": "2026-03-09T23:25:14.299Z",
        "createdAt": "2026-03-09T23:01:24.415Z",
        "id": "YOUR_N8N_PROJECT_ID",
        "name": "Your Name <your@email.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "YOUR_N8N_USER_ID"
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-03-27T05:08:26.780Z",
    "createdAt": "2026-03-27T05:08:26.780Z",
    "versionId": "YOUR_WF2_VERSION_ID",
    "workflowId": "YOUR_WF2_WORKFLOW_ID",
    "nodes": [
      {
        "parameters": {
          "content": "## Inbound Webhook (All TextBee Events)\n\nTriggered by TextBee on every SMS event.\n\n**What it does:**\n- Verifies HMAC-SHA256 signature on every request\n- Routes on event type:\n  - **MESSAGE_DELIVERED / MESSAGE_SENT** \u2192 overwrites PENDING with confirmed timestamp\n  - **MESSAGE_FAILED** \u2192 clears PENDING so lead is re-eligible; logs error to Notes\n  - **MESSAGE_RECEIVED** \u2192 updates reply columns (M\u2013P + S), logs to Conversations tab\n\n**Why it exists:**\nEvent-driven state management \u2014 the sheet reflects confirmed delivery, not just send attempts.",
          "height": 340,
          "width": 460,
          "color": 3
        },
        "id": "16706c20-9e3a-4cca-a135-70ca7424fb70",
        "name": "Workflow Description",
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          -224,
          48
        ]
      },
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "textbee-inbound",
          "options": {
            "rawBody": true
          }
        },
        "id": "030804e4-660f-4f0f-8e99-1fb1fcf6adec",
        "name": "TextBee Webhook",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          288,
          256
        ],
        "webhookId": "60b5ff33-2afa-4f01-8d81-ee54ffc267e1"
      },
      {
        "parameters": {
          "jsCode": "// n8n task runner sandbox: crypto global not available, require('crypto') not available.\n// Signature verification gated on signatureEnforced=true (currently disabled).\n// To re-enable: set signatureEnforced = true \u2014 but note crypto.subtle must be available.\nconst secret = 'YOUR_TEXTBEE_WEBHOOK_SECRET';\n\nconst body = $input.first().json.body;\nconst received = (\n  ($input.first().json.headers && ($input.first().json.headers['x-signature'] || $input.first().json.headers['X-Signature'])) || ''\n).toLowerCase();\n\nconst signatureEnforced = false;\nif (!received) {\n  if (signatureEnforced) throw new Error('Missing TextBee signature \u2014 request rejected');\n  console.warn('WARNING: No TextBee signature \u2014 proceeding without verification (testing mode)');\n} else if (signatureEnforced) {\n  const encoder = new TextEncoder();\n  const key = await crypto.subtle.importKey(\n    'raw', encoder.encode(secret), { name: 'HMAC', hash: 'SHA-256' }, false, ['sign']\n  );\n  // TextBee signs JSON.stringify(payload) where payload = parsed request body\n  const sigBuffer = await crypto.subtle.sign('HMAC', key, encoder.encode(JSON.stringify(body)));\n  const expected = Array.from(new Uint8Array(sigBuffer))\n    .map(b => b.toString(16).padStart(2, '0')).join('');\n  if (expected !== received) {\n    throw new Error('Invalid TextBee signature \u2014 request rejected');\n  }\n}\n\n// Normalize MESSAGE_SENT \u2192 MESSAGE_DELIVERED\nlet webhookEvent = body.webhookEvent || '';\nif (webhookEvent === 'MESSAGE_SENT') webhookEvent = 'MESSAGE_DELIVERED';\n\nreturn [{ json: {\n  webhookEvent,\n  recipient:     body.recipient || '',\n  message:       body.message || '',\n  deliveredAt:   body.deliveredAt || body.sentAt || '',\n  failedAt:      body.failedAt || '',\n  errorMessage:  body.errorMessage || '',\n  errorCode:     body.errorCode || '',\n  sender_phone:  body.sender || body.from || body.phoneNumber || body.senderNumber ||\n                 (body.data && (body.data.sender || body.data.phoneNumber)) || '',\n  message_text:  body.message || body.body || body.text ||\n                 (body.data && (body.data.message || body.data.text)) || '',\n  raw_timestamp: body.receivedAt || body.createdAt || body.timestamp ||\n                 (body.data && (body.data.receivedAt || body.data.createdAt)) || '',\n}}];"
        },
        "id": "7e4b8781-d4a4-4090-a932-61ea5d95d101",
        "name": "Verify & Parse",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          512,
          256
        ]
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict"
                  },
                  "combinator": "and",
                  "conditions": [
                    {
                      "leftValue": "={{ $json.webhookEvent }}",
                      "rightValue": "MESSAGE_DELIVERED",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      }
                    }
                  ]
                }
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict"
                  },
                  "combinator": "and",
                  "conditions": [
                    {
                      "leftValue": "={{ $json.webhookEvent }}",
                      "rightValue": "MESSAGE_FAILED",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      }
                    }
                  ]
                }
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict"
                  },
                  "combinator": "and",
                  "conditions": [
                    {
                      "leftValue": "={{ $json.webhookEvent }}",
                      "rightValue": "MESSAGE_RECEIVED",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      }
                    }
                  ]
                }
              }
            ]
          },
          "options": {}
        },
        "id": "1b6a3a9a-c1ea-4d9c-89ad-9af98d6f47ac",
        "name": "Route on Event",
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3,
        "position": [
          736,
          240
        ]
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict"
                  },
                  "combinator": "and",
                  "conditions": [
                    {
                      "leftValue": "={{ $json._is_manual_reply }}",
                      "rightValue": true,
                      "operator": {
                        "type": "boolean",
                        "operation": "equals"
                      }
                    }
                  ]
                },
                "renameOutput": true,
                "outputKey": "Manual Reply"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict"
                  },
                  "combinator": "and",
                  "conditions": [
                    {
                      "leftValue": "={{ $json._is_manual_reply }}",
                      "rightValue": false,
                      "operator": {
                        "type": "boolean",
                        "operation": "equals"
                      }
                    }
                  ]
                },
                "renameOutput": true,
                "outputKey": "WF1 Send"
              }
            ]
          },
          "options": {}
        },
        "id": "ff3d02e4-60ba-4071-9502-efcedde8c72d",
        "name": "Route Reply Type",
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3,
        "position": [
          1536,
          64
        ]
      },
      {
        "parameters": {
          "operation": "update",
          "documentId": {
            "__rl": true,
            "value": "YOUR_SPREADSHEET_ID",
            "mode": "id"
          },
          "sheetName": {
            "__rl": true,
            "value": "Leads",
            "mode": "name",
            "cachedResultName": "Leads"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "Mobile": "={{ $json.Mobile }}",
              "Brandon_Replies": "={{ $json.Brandon_Replies }}"
            },
            "matchingColumns": [
              "Mobile"
            ],
            "schema": [
              {
                "id": "Mobile",
                "displayName": "Mobile",
                "required": false,
                "defaultMatch": true,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "Brandon_Replies",
                "displayName": "Brandon_Replies",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": false,
                "removed": false
              }
            ]
          },
          "options": {}
        },
        "id": "6f0b6766-0f19-4ddc-a8bd-7dc3664fcb75",
        "name": "Update Brandon Reply Count",
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4,
        "position": [
          1760,
          64
        ],
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "YOUR_GOOGLE_SHEETS_CREDENTIAL_ID",
            "name": "Google Sheets account"
          }
        }
      },
      {
        "parameters": {
          "operation": "append",
          "documentId": {
            "__rl": true,
            "value": "YOUR_SPREADSHEET_ID",
            "mode": "id"
          },
          "sheetName": {
            "__rl": true,
            "value": "Conversations",
            "mode": "name",
            "cachedResultName": "Conversations"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "Phone": "={{ $json.phone_for_conv }}",
              "Direction": "outbound",
              "Timestamp": "={{ $json.timestamp }}",
              "Message": "={{ $json.message_text }}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "Phone",
                "displayName": "Phone",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "Direction",
                "displayName": "Direction",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "Timestamp",
                "displayName": "Timestamp",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "Message",
                "displayName": "Message",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              }
            ]
          },
          "options": {}
        },
        "id": "da230bae-5209-4140-9f72-13267bad1036",
        "name": "Log Manual Reply",
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4,
        "position": [
          1984,
          64
        ],
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "YOUR_GOOGLE_SHEETS_CREDENTIAL_ID",
            "name": "Google Sheets account"
          }
        }
      },
      {
        "parameters": {
          "operation": "update",
          "documentId": {
            "__rl": true,
            "value": "YOUR_SPREADSHEET_ID",
            "mode": "id"
          },
          "sheetName": {
            "__rl": true,
            "value": "Leads",
            "mode": "name",
            "cachedResultName": "Leads"
          },
          "columns": {
            "mappingMode": "autoMapInputData",
            "matchingColumns": [
              "Mobile"
            ],
            "schema": []
          },
          "options": {}
        },
        "id": "d44678e9-7088-49fb-adfb-96d8aaee8a07",
        "name": "Update Delivered Timestamp",
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4,
        "position": [
          1760,
          256
        ],
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "YOUR_GOOGLE_SHEETS_CREDENTIAL_ID",
            "name": "Google Sheets account"
          }
        }
      },
      {
        "parameters": {
          "documentId": {
            "__rl": true,
            "value": "YOUR_SPREADSHEET_ID",
            "mode": "id"
          },
          "sheetName": {
            "__rl": true,
            "value": "Leads",
            "mode": "name",
            "cachedResultName": "Leads"
          },
          "combineFilters": "AND",
          "options": {}
        },
        "id": "a24ab6c9-5153-4f61-9410-275d30833983",
        "name": "Read Leads (Failure)",
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4,
        "maxTries": 5,
        "waitBetweenTries": 3000,
        "position": [
          1024,
          256
        ],
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "YOUR_GOOGLE_SHEETS_CREDENTIAL_ID",
            "name": "Google Sheets account"
          }
        },
        "onError": "retryOnFail"
      },
      {
        "parameters": {
          "jsCode": "const NZT_OFFSET = 13;\n\nfunction normalizeForMatch(phone) {\n  if (!phone) return '';\n  return phone.replace(/[\\s\\-\\(\\)]/g, '')\n              .replace(/^\\+64/, '0')\n              .replace(/^64/, '0');\n}\n\nfunction getModeFromMessage(msg) {\n  if (msg.includes('Last one from me'))                               return 'F2 Sent';\n  if (msg.includes('following up'))                                   return 'F1 Sent';\n  if (msg.includes('Worth a chat?') || msg.includes('Building something')) return 'Initial Sent';\n  return null;\n}\n\nconst parsed = $('Verify & Parse').item.json;\nconst recipientNorm = normalizeForMatch(parsed.recipient);\nconst tsCol = getModeFromMessage(parsed.message);\nif (!tsCol) return [];\n\nconst rows = $input.all();\nlet matchRow = null;\nfor (const item of rows) {\n  if (normalizeForMatch(item.json['Mobile'] || '') === recipientNorm) {\n    matchRow = item.json;\n    break;\n  }\n}\nif (!matchRow) return [];\n\nconst errorNote = 'FAILED: ' + (parsed.errorMessage || parsed.errorCode || 'unknown error');\nconst existingNotes = (matchRow['Notes'] || '').trim();\nconst notes = existingNotes ? existingNotes + '; ' + errorNote : errorNote;\n\nconst output = { Mobile: matchRow['Mobile'] };\noutput[tsCol] = '';  // clear PENDING \u2014 lead becomes eligible again\noutput['Notes'] = notes;\nreturn [{ json: output }];"
        },
        "id": "28ac6820-9837-45ae-beda-3d6327fcc8b2",
        "name": "Match & Clear Failure",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1312,
          256
        ]
      },
      {
        "parameters": {
          "operation": "update",
          "documentId": {
            "__rl": true,
            "value": "YOUR_SPREADSHEET_ID",
            "mode": "id"
          },
          "sheetName": {
            "__rl": true,
            "value": "Leads",
            "mode": "name",
            "cachedResultName": "Leads"
          },
          "columns": {
            "mappingMode": "autoMapInputData",
            "matchingColumns": [
              "Mobile"
            ],
            "schema": []
          },
          "options": {}
        },
        "id": "ca1dd807-2931-433f-888b-0369400bc997",
        "name": "Update Failure Record",
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4,
        "position": [
          1536,
          256
        ],
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "YOUR_GOOGLE_SHEETS_CREDENTIAL_ID",
            "name": "Google Sheets account"
          }
        }
      },
      {
        "parameters": {
          "modelId": {
            "__rl": true,
            "value": "gpt-4o-mini",
            "mode": "list",
            "cachedResultName": "gpt-4o-mini"
          },
          "responses": {
            "values": [
              {
                "role": "system",
                "content": "=You are classifying SMS replies from NZ real estate agents responding to a cold outreach about AI automation services.\n\nClassify the reply into exactly one of these statuses:\n- \"Interested\" \u2014 Open to a chat, wants to book a call/meeting, affirmative, asking to set up a time\n- \"Not Interested\" \u2014 Clear rejection: no thanks, not for me, not interested, all good, etc.\n- \"Opted Out\" \u2014 Explicit stop request (stop, unsubscribe, remove me) OR they have retired from real estate OR they have permanently left the industry\n- \"Question\" \u2014 Asking for more info about the service, who Brandon is, which company, pricing, demo, etc.\n- \"Call Back Later\" \u2014 Timing deflection: busy today, in a meeting, try me next week, contact me later \u2014 not a hard no\n- \"Wrong Role\" \u2014 In the industry but not a sales agent (property manager, mortgage broker, admin, different department)\n- \"Other\" \u2014 Genuinely ambiguous or unclear intent\n\nRespond with ONLY valid JSON: {\"status\": \"Interested\"}"
              },
              {
                "content": "={{ $('Verify & Parse').item.json.message_text }}"
              }
            ]
          },
          "builtInTools": {},
          "options": {
            "maxTokens": 20,
            "temperature": 0
          }
        },
        "id": "9ed8e0cd-8b2a-47e1-b4c8-7ae04e31280e",
        "name": "Message a model",
        "type": "@n8n/n8n-nodes-langchain.openAi",
        "typeVersion": 2.1,
        "position": [
          960,
          448
        ],
        "credentials": {
          "openAiApi": {
            "id": "YOUR_OPENAI_CREDENTIAL_ID",
            "name": "OpenAi account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const json = $input.item.json;\n\n// n8n OpenAI langchain node v2.1 returns:\n//   json.output = [{ content: [{ type: \"output_text\", text: \"...\" }] }]\nlet raw = '';\nif (Array.isArray(json.output) && json.output[0]) {\n  const content = json.output[0].content;\n  if (Array.isArray(content)) {\n    const chunk = content.find(c => c.text) || content[0];\n    if (chunk) raw = chunk.text || '';\n  } else if (typeof json.output[0] === 'string') {\n    raw = json.output[0];\n  }\n}\n// Fallbacks for other node versions\nif (!raw) {\n  const candidate = json.text || json.response || json.content ||\n    (json.message && (json.message.content || json.message.text)) ||\n    (json.choices && json.choices[0] && json.choices[0].message && json.choices[0].message.content) || '';\n  raw = typeof candidate === 'string' ? candidate : JSON.stringify(candidate);\n}\nraw = raw.trim();\n\nconst VALID = ['Interested', 'Not Interested', 'Opted Out', 'Question', 'Call Back Later', 'Wrong Role', 'Other'];\nlet status = 'Other';\n\ntry {\n  const parsed = JSON.parse(raw);\n  const candidate = parsed.status || '';\n  if (VALID.includes(candidate)) status = candidate;\n} catch(e) {\n  // Try regex match first\n  const match = raw.match(/\"status\"\\s*:\\s*\"([^\"]+)\"/);\n  if (match && VALID.includes(match[1])) {\n    status = match[1];\n  } else {\n    // Keyword fallback: scan raw text for any known status\n    for (const s of VALID) {\n      if (raw.includes(s)) { status = s; break; }\n    }\n  }\n}\nreturn [{ json: { classified_status: status } }];"
        },
        "id": "6af4457a-18a7-46b2-9c8e-0d8c7424905d",
        "name": "Parse Classification",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1312,
          448
        ]
      },
      {
        "parameters": {
          "documentId": {
            "__rl": true,
            "value": "YOUR_SPREADSHEET_ID",
            "mode": "id"
          },
          "sheetName": {
            "__rl": true,
            "value": "Leads",
            "mode": "name",
            "cachedResultName": "Leads"
          },
          "combineFilters": "AND",
          "options": {}
        },
        "id": "1af6afce-5d7b-459a-98c4-4096272c2206",
        "name": "Read Leads (Inbound)",
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4,
        "maxTries": 5,
        "waitBetweenTries": 3000,
        "position": [
          1536,
          448
        ],
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "YOUR_GOOGLE_SHEETS_CREDENTIAL_ID",
            "name": "Google Sheets account"
          }
        },
        "onError": "retryOnFail"
      },
      {
        "parameters": {
          "jsCode": "const NZT_OFFSET = 13;\n\nfunction normalizeForMatch(phone) {\n  if (!phone) return '';\n  return phone.replace(/[\\s\\-\\(\\)]/g, '')\n              .replace(/^\\+64/, '0')\n              .replace(/^64/, '0');\n}\n\nfunction toNZTStr(rawTime) {\n  if (!rawTime) return '';\n  try {\n    const dt = new Date(rawTime);\n    if (isNaN(dt)) return rawTime;\n    const nzt = new Date(dt.getTime() + NZT_OFFSET * 3600000);\n    return nzt.toISOString().slice(0, 16).replace('T', ' ');\n  } catch(e) { return rawTime; }\n}\n\nconst parsed = $('Verify & Parse').item.json;\nconst senderNorm = normalizeForMatch(parsed.sender_phone);\nconst messageText = parsed.message_text;\nconst receivedStr = toNZTStr(parsed.raw_timestamp);\n\nconst rows = $input.all();\nlet matchRow = null;\nfor (const item of rows) {\n  if (normalizeForMatch(item.json['Mobile'] || '') === senderNorm) {\n    matchRow = item.json;\n    break;\n  }\n}\nif (!matchRow) return [];\n\nlet replyAfter = 'Unknown';\nif ((matchRow['F2 Sent'] || '').trim() && matchRow['F2 Sent'] !== 'PENDING') replyAfter = 'F2';\nelse if ((matchRow['F1 Sent'] || '').trim() && matchRow['F1 Sent'] !== 'PENDING') replyAfter = 'F1';\nelse if ((matchRow['Initial Sent'] || '').trim()) replyAfter = 'Initial';\n\nconst currentLeadReplies = parseInt(matchRow['Lead_Replies'] || '0', 10) || 0;\n\nreturn [{\n  json: {\n    Mobile:           matchRow['Mobile'],\n    Replied:          true,\n    'Reply After':    replyAfter,\n    'Reply Received': receivedStr,\n    'Reply Text':     messageText,\n    Status:           $('Parse Classification').item.json.classified_status || 'Other',\n    Lead_Replies:     String(currentLeadReplies + 1),\n    phone_for_conv:   matchRow['Mobile'],\n    message_text:     messageText,\n    timestamp:        receivedStr,\n    Name:             matchRow['Name'] || '',\n    Agency:           matchRow['Agency'] || '',\n    City:             matchRow['City'] || '',\n  }\n}];"
        },
        "id": "9a4711db-313b-4697-9832-a9990a8c5f58",
        "name": "Match & Prepare Inbound",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1760,
          448
        ]
      },
      {
        "parameters": {
          "operation": "update",
          "documentId": {
            "__rl": true,
            "value": "YOUR_SPREADSHEET_ID",
            "mode": "id"
          },
          "sheetName": {
            "__rl": true,
            "value": "Leads",
            "mode": "name",
            "cachedResultName": "Leads"
          },
          "columns": {
            "mappingMode": "autoMapInputData",
            "matchingColumns": [
              "Mobile"
            ],
            "schema": []
          },
          "options": {}
        },
        "id": "92b941f6-2d80-41f1-9e86-e6b2ce1aee49",
        "name": "Update Reply Columns",
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4,
        "position": [
          1984,
          448
        ],
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "YOUR_GOOGLE_SHEETS_CREDENTIAL_ID",
            "name": "Google Sheets account"
          }
        }
      },
      {
        "parameters": {
          "operation": "append",
          "documentId": {
            "__rl": true,
            "value": "YOUR_SPREADSHEET_ID",
            "mode": "id"
          },
          "sheetName": {
            "__rl": true,
            "value": "Conversations",
            "mode": "name",
            "cachedResultName": "Conversations"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "Phone": "={{ $json.phone_for_conv }}",
              "Direction": "inbound",
              "Timestamp": "={{ $json.timestamp }}",
              "Message": "={{ $json.message_text }}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "Phone",
                "displayName": "Phone",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "Direction",
                "displayName": "Direction",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "Timestamp",
                "displayName": "Timestamp",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "Message",
                "displayName": "Message",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              }
            ]
          },
          "options": {}
        },
        "id": "d517a36e-e455-4243-ac77-9805910454cd",
        "name": "Log to Conversations",
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4,
        "position": [
          2208,
          448
        ],
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "YOUR_GOOGLE_SHEETS_CREDENTIAL_ID",
            "name": "Google Sheets account"
          }
        }
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict"
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $('Match & Prepare Inbound').item.json.Status }}",
                      "rightValue": "Interested",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "Interested"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict"
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $('Match & Prepare Inbound').item.json.Status }}",
                      "rightValue": "Question",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "Question"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict"
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $('Match & Prepare Inbound').item.json.Status }}",
                      "rightValue": "Call Back Later",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "Call Back Later"
              }
            ]
          },
          "options": {}
        },
        "id": "0dbfd181-85cc-476e-bb82-1fd6a0e7a843",
        "name": "Email Switch",
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3,
        "position": [
          2432,
          432
        ]
      },
      {
        "parameters": {
          "sendTo": "your@email.com",
          "subject": "=\ud83d\udd25 HOT LEAD: {{ $('Match & Prepare Inbound').item.json['Name'] }} from {{ $('Match & Prepare Inbound').item.json['Agency'] }} replied interested!",
          "message": "=<div style=\"font-family:sans-serif;max-width:600px;margin:0 auto;border:2px solid #dc2626;border-radius:8px;overflow:hidden\">\n  <div style=\"background:#dc2626;padding:20px 24px\">\n    <h1 style=\"color:#fff;margin:0;font-size:22px\">\ud83d\udd25 HOT LEAD REPLY</h1>\n    <p style=\"color:#fca5a5;margin:6px 0 0;font-size:14px\">A lead replied interested \u2014 CALL THEM NOW</p>\n  </div>\n  <div style=\"padding:24px\">\n    <table style=\"width:100%;border-collapse:collapse;margin-bottom:20px\">\n      <tr><td style=\"padding:6px 12px 6px 0;color:#6b7280;font-size:13px;width:80px\">Name</td><td style=\"padding:6px 0;font-weight:600\">{{ $('Match & Prepare Inbound').item.json['Name'] }}</td></tr>\n      <tr style=\"background:#f9fafb\"><td style=\"padding:6px 12px 6px 0;color:#6b7280;font-size:13px\">Agency</td><td style=\"padding:6px 0;font-weight:600\">{{ $('Match & Prepare Inbound').item.json['Agency'] }}</td></tr>\n      <tr><td style=\"padding:6px 12px 6px 0;color:#6b7280;font-size:13px\">City</td><td style=\"padding:6px 0;font-weight:600\">{{ $('Match & Prepare Inbound').item.json['City'] }}</td></tr>\n      <tr style=\"background:#f9fafb\"><td style=\"padding:6px 12px 6px 0;color:#6b7280;font-size:13px\">Mobile</td><td style=\"padding:6px 0;font-weight:600\">{{ $('Match & Prepare Inbound').item.json['Mobile'] }}</td></tr>\n    </table>\n    <div style=\"background:#fef2f2;border-left:4px solid #dc2626;padding:12px 16px;margin-bottom:20px;border-radius:0 4px 4px 0\">\n      <p style=\"margin:0 0 4px;font-size:12px;color:#6b7280;text-transform:uppercase;letter-spacing:.5px\">Their reply</p>\n      <p style=\"margin:0;font-size:15px;color:#111\">{{ $('Match & Prepare Inbound').item.json['message_text'] }}</p>\n    </div>\n    <div style=\"background:#f0fdf4;border:1px solid #bbf7d0;padding:12px 16px;border-radius:4px\">\n      <p style=\"margin:0 0 6px;font-size:12px;color:#6b7280;text-transform:uppercase;letter-spacing:.5px\">Suggested follow-up text</p>\n      <p style=\"margin:0;font-size:14px;color:#166534\">Hey [name], great to hear! I'd love to show you how it works \u2014 are you free for a 15-min call this week? - Brandon</p>\n    </div>\n  </div>\n</div>",
          "options": {}
        },
        "id": "8c26f6c8-c1c0-416f-afbd-aadd5d4734de",
        "name": "Email \u2014 Interested",
        "type": "n8n-nodes-base.gmail",
        "typeVersion": 2.1,
        "position": [
          2656,
          256
        ],
        "webhookId": "4c8fdf94-5903-4a66-b066-50e1a51ccf33",
        "credentials": {
          "gmailOAuth2": {
            "id": "YOUR_GMAIL_CREDENTIAL_ID",
            "name": "Gmail account"
          }
        }
      },
      {
        "parameters": {
          "sendTo": "your@email.com",
          "subject": "=\u2753 {{ $('Match & Prepare Inbound').item.json['Name'] }} from {{ $('Match & Prepare Inbound').item.json['Agency'] }} has a question",
          "message": "=<div style=\"font-family:sans-serif;max-width:600px;margin:0 auto;border:2px solid #2563eb;border-radius:8px;overflow:hidden\">\n  <div style=\"background:#2563eb;padding:20px 24px\">\n    <h1 style=\"color:#fff;margin:0;font-size:22px\">\u2753 LEAD HAS A QUESTION</h1>\n    <p style=\"color:#bfdbfe;margin:6px 0 0;font-size:14px\">Reply ASAP while the conversation is warm</p>\n  </div>\n  <div style=\"padding:24px\">\n    <table style=\"width:100%;border-collapse:collapse;margin-bottom:20px\">\n      <tr><td style=\"padding:6px 12px 6px 0;color:#6b7280;font-size:13px;width:80px\">Name</td><td style=\"padding:6px 0;font-weight:600\">{{ $('Match & Prepare Inbound').item.json['Name'] }}</td></tr>\n      <tr style=\"background:#f9fafb\"><td style=\"padding:6px 12px 6px 0;color:#6b7280;font-size:13px\">Agency</td><td style=\"padding:6px 0;font-weight:600\">{{ $('Match & Prepare Inbound').item.json['Agency'] }}</td></tr>\n      <tr><td style=\"padding:6px 12px 6px 0;color:#6b7280;font-size:13px\">City</td><td style=\"padding:6px 0;font-weight:600\">{{ $('Match & Prepare Inbound').item.json['City'] }}</td></tr>\n      <tr style=\"background:#f9fafb\"><td style=\"padding:6px 12px 6px 0;color:#6b7280;font-size:13px\">Mobile</td><td style=\"padding:6px 0;font-weight:600\">{{ $('Match & Prepare Inbound').item.json['Mobile'] }}</td></tr>\n    </table>\n    <div style=\"background:#eff6ff;border-left:4px solid #2563eb;padding:12px 16px;border-radius:0 4px 4px 0\">\n      <p style=\"margin:0 0 4px;font-size:12px;color:#6b7280;text-transform:uppercase;letter-spacing:.5px\">Their question</p>\n      <p style=\"margin:0;font-size:15px;color:#111\">{{ $('Match & Prepare Inbound').item.json['message_text'] }}</p>\n    </div>\n  </div>\n</div>",
          "options": {}
        },
        "id": "1976e0b0-ee93-47a9-8c0c-055050fe9d38",
        "name": "Email \u2014 Question",
        "type": "n8n-nodes-base.gmail",
        "typeVersion": 2.1,
        "position": [
          2656,
          448
        ],
        "webhookId": "78ad1f75-295f-4464-bb92-113b1012eacd",
        "credentials": {
          "gmailOAuth2": {
            "id": "YOUR_GMAIL_CREDENTIAL_ID",
            "name": "Gmail account"
          }
        }
      },
      {
        "parameters": {
          "sendTo": "your@email.com",
          "subject": "=\u23f0 {{ $('Match & Prepare Inbound').item.json['Name'] }} from {{ $('Match & Prepare Inbound').item.json['Agency'] }} asked to call back",
          "message": "=<div style=\"font-family:sans-serif;max-width:600px;margin:0 auto;border:2px solid #d97706;border-radius:8px;overflow:hidden\">\n  <div style=\"background:#d97706;padding:20px 24px\">\n    <h1 style=\"color:#fff;margin:0;font-size:22px\">\u23f0 ASKED TO CALL BACK</h1>\n    <p style=\"color:#fde68a;margin:6px 0 0;font-size:14px\">Not a no \u2014 follow up soon</p>\n  </div>\n  <div style=\"padding:24px\">\n    <table style=\"width:100%;border-collapse:collapse;margin-bottom:20px\">\n      <tr><td style=\"padding:6px 12px 6px 0;color:#6b7280;font-size:13px;width:80px\">Name</td><td style=\"padding:6px 0;font-weight:600\">{{ $('Match & Prepare Inbound').item.json['Name'] }}</td></tr>\n      <tr style=\"background:#f9fafb\"><td style=\"padding:6px 12px 6px 0;color:#6b7280;font-size:13px\">Agency</td><td style=\"padding:6px 0;font-weight:600\">{{ $('Match & Prepare Inbound').item.json['Agency'] }}</td></tr>\n      <tr><td style=\"padding:6px 12px 6px 0;color:#6b7280;font-size:13px\">City</td><td style=\"padding:6px 0;font-weight:600\">{{ $('Match & Prepare Inbound').item.json['City'] }}</td></tr>\n      <tr style=\"background:#f9fafb\"><td style=\"padding:6px 12px 6px 0;color:#6b7280;font-size:13px\">Mobile</td><td style=\"padding:6px 0;font-weight:600\">{{ $('Match & Prepare Inbound').item.json['Mobile'] }}</td></tr>\n    </table>\n    <div style=\"background:#fffbeb;border-left:4px solid #d97706;padding:12px 16px;border-radius:0 4px 4px 0\">\n      <p style=\"margin:0 0 4px;font-size:12px;color:#6b7280;text-transform:uppercase;letter-spacing:.5px\">Their message</p>\n      <p style=\"margin:0;font-size:15px;color:#111\">{{ $('Match & Prepare Inbound').item.json['message_text'] }}</p>\n    </div>\n  </div>\n</div>",
          "options": {}
        },
        "id": "4d28d221-d58d-48c3-ad41-559d1d9be324",
        "name": "Email \u2014 Call Back Later",
        "type": "n8n-nodes-base.gmail",
        "typeVersion": 2.1,
        "position": [
          2656,
          640
        ],
        "webhookId": "3244f128-ca97-4e7f-908c-3073e3eda7fc",
        "credentials": {
          "gmailOAuth2": {
            "id": "YOUR_GMAIL_CREDENTIAL_ID",
            "name": "Gmail account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const NZT_OFFSET = 13; // NZDT (UTC+13)\n\nfunction normalizePhone(phone) {\n  if (!phone) return '';\n  return phone.replace(/[\\s\\-\\(\\)]/g, '')\n              .replace(/^\\+64/, '0')\n              .replace(/^64/, '0');\n}\n\nfunction toNZTStr(rawTime) {\n  const base = rawTime ? new Date(rawTime) : new Date();\n  const dt = (!rawTime || isNaN(base)) ? new Date() : base;\n  const nzt = new Date(dt.getTime() + NZT_OFFSET * 3600000);\n  return nzt.toISOString().slice(0, 16).replace('T', ' ');\n}\n\nconst parsed = $('Verify & Parse').item.json;\nconst mobile = normalizePhone(parsed.recipient);\nconst msg = (parsed.message || '').trim();\n\n// Determine stage column from message keywords (no sheet read needed)\nlet tsCol;\nif (msg.includes('Last one from me')) {\n  tsCol = 'F2 Sent';\n} else if (msg.includes('following up')) {\n  tsCol = 'F1 Sent';\n} else if (msg.includes('Worth a chat?') || msg.includes('Building something')) {\n  tsCol = 'Initial Sent';\n} else {\n  // No keyword match \u2014 Brandon manual reply or unknown message; terminate cleanly\n  return [];\n}\n\nconst ts = toNZTStr(parsed.deliveredAt);\nconst output = { Mobile: mobile, _is_manual_reply: false };\noutput[tsCol] = ts;\nreturn [{ json: output }];"
        },
        "id": "a7f3d812-1b2e-4c8f-9e3a-5d6f7a8b9c0d",
        "name": "Resolve Stage",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1024,
          64
        ]
      }
    ],
    "connections": {
      "TextBee Webhook": {
        "main": [
          [
            {
              "node": "Verify & Parse",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Verify & Parse": {
        "main": [
          [
            {
              "node": "Route on Event",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Route on Event": {
        "main": [
          [
            {
              "node": "Resolve Stage",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Read Leads (Failure)",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Message a model",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Route Reply Type": {
        "main": [
          [
            {
              "node": "Update Brandon Reply Count",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Update Delivered Timestamp",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Update Brandon Reply Count": {
        "main": [
          [
            {
              "node": "Log Manual Reply",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Read Leads (Failure)": {
        "main": [
          [
            {
              "node": "Match & Clear Failure",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Match & Clear Failure": {
        "main": [
          [
            {
              "node": "Update Failure Record",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Message a model": {
        "main": [
          [
            {
              "node": "Parse Classification",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Parse Classification": {
        "main": [
          [
            {
              "node": "Read Leads (Inbound)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Read Leads (Inbound)": {
        "main": [
          [
            {
              "node": "Match & Prepare Inbound",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Match & Prepare Inbound": {
        "main": [
          [
            {
              "node": "Update Reply Columns",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Update Reply Columns": {
        "main": [
          [
            {
              "node": "Log to Conversations",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Log to Conversations": {
        "main": [
          [
            {
              "node": "Email Switch",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Email Switch": {
        "main": [
          [
            {
              "node": "Email \u2014 Interested",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Email \u2014 Question",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Email \u2014 Call Back Later",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Resolve Stage": {
        "main": [
          [
            {
              "node": "Route Reply Type",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Your Name",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-03-27T05:08:26.867Z",
        "id": 192,
        "workflowId": "YOUR_WF2_WORKFLOW_ID",
        "versionId": "YOUR_WF2_VERSION_ID",
        "event": "activated",
        "userId": "YOUR_N8N_USER_ID"
      },
      {
        "createdAt": "2026-03-27T05:08:26.849Z",
        "id": 191,
        "workflowId": "YOUR_WF2_WORKFLOW_ID",
        "versionId": "YOUR_WF2_VERSION_ID",
        "event": "deactivated",
        "userId": "YOUR_N8N_USER_ID"
      }
    ]
  }
}